<div class="row">
  <div class="col-12">
    <div class="line">
      <span class="bold orange">export default class </span>
      <span class="white">RafaelToledanoIllan </span>
      <span class="bold orange">extends </span>
      <span class="yellow">WebEngineer </span>
      <span class="white">{{ '{' }}</span>
    </div>
    <div class="line empty">
      <span></span>
    </div>
    <app-declaration [indent]="1" [modifiers]="'public'" [identifier]="'statement'" [type]="'string'"
                     [value]="'`I am passionate about technology and architecture as tools to improve the social and cultural environment. I love exploring new ideas and creative methods to do so.`'"></app-declaration>
    <div class="line empty">
      <span></span>
    </div>
    <app-declaration [indent]="1" [modifiers]="'public'" [identifier]="'github'" [type]="'string'"
                     [value]="'`https://github.com/rtyx/`'" [href]="'https://github.com/rtyx/'"></app-declaration>
    <app-declaration [indent]="1" [modifiers]="'public'" [identifier]="'linkedIn'" [type]="'string'"
                     [value]="'`https://www.linkedin.com/in/rafaeltoledano/`'"
                     [href]="'https://www.linkedin.com/in/rafaeltoledano/'"></app-declaration>
    <app-declaration [indent]="1" [modifiers]="'public'" [identifier]="'stackOverflow'" [type]="'string'"
                     [value]="'`https://stackoverflow.com/users/5726242/rtyx/`'"
                     [href]="'https://stackoverflow.com/users/5726242/rtyx?tab=profile'"></app-declaration>


    <div class="line empty">
      <span></span>
    </div>

    <app-declaration [indent]="1" [modifiers]="'private'" [identifier]="'email'" [type]="'string'"
                     [value]="'`rafaeltoledano@berkeley.edu`'"
                     [href]="'mailto:rafaeltoledano@berkeley.edu'"></app-declaration>

    <div class="line empty">
      <span></span>
    </div>

    <!--Languages-->
    <div class="line indent-1">
      <span class="bold orange">private </span>
      <span class="purple">humanLanguages</span><span class="white">: </span>
      <span class="white">Language[] </span>
      <span class="white">= </span>
      <span class="white">[</span>
    </div>

    <app-language-line lang="English" level="C2"></app-language-line>
    <app-language-line lang="Español" level="C2"></app-language-line>
    <app-language-line lang="Deutsch" level="C1" [last]="true"></app-language-line>

    <div class="line indent-1">
      <span class="white">]</span>
      <span class="orange">;</span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <!--Computer languages-->

    <div class="line indent-1">
      <span class="bold orange">private </span>
      <span class="purple">computerLanguages </span><span class="white">: </span>
      <span class="white">Language[] </span>
      <span class="white">= </span>
      <span class="white">[</span>
    </div>

    <app-language-line lang="JavaScript" level="High"></app-language-line>
    <app-language-line lang="TypeScript" level="High"></app-language-line>
    <app-language-line lang="HTML" level="High"></app-language-line>
    <app-language-line lang="CSS" level="High"></app-language-line>
    <app-language-line lang="Java" level="Medium"></app-language-line>
    <app-language-line lang="PHP" level="Basic"></app-language-line>
    <app-language-line lang="Python" level="Basic"></app-language-line>
    <app-language-line lang="Go" level="Basic" [last]="true"></app-language-line>

    <div class="line indent-1">
      <span class="white">]</span>
      <span class="orange">;</span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <!--Front End-->

    <div class="line indent-1">
      <span class="bold orange">private </span>
      <span class="purple">frontEndStack </span><span class="white">: </span>
      <span class="white">Framework[] </span>
      <span class="white">= </span>
      <span class="white">[</span>
    </div>

    <app-framework-line id="Angular" level="High"></app-framework-line>
    <app-framework-line id="React" level="Medium"></app-framework-line>
    <app-framework-line id="Vue" level="Medium"></app-framework-line>
    <app-framework-line id="jQuery" level="High"></app-framework-line>

    <div class="line indent-1">
      <span class="white">]</span>
      <span class="orange">;</span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <!--Back End-->

    <div class="line indent-1">
      <span class="bold orange">private </span>
      <span class="purple">backEndStack </span><span class="white">: </span>
      <span class="white">Framework[] </span>
      <span class="white">= </span>
      <span class="white">[</span>
    </div>

    <app-framework-line id="Node" level="High"></app-framework-line>
    <app-framework-line id="Express" level="High"></app-framework-line>
    <app-framework-line id="PostgreSQL" level="Medium"></app-framework-line>
    <app-framework-line id="nginx" level="Medium"></app-framework-line>
    <app-framework-line id="Cypress" level="Medium"></app-framework-line>
    <app-framework-line id="Docker" level="Medium"></app-framework-line>

    <div class="line indent-1">
      <span class="white">]</span>
      <span class="orange">;</span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <div class="line indent-1">
      <span class="yellow">constructor</span>
      <span class="white">(</span>
      <span class="orange">public </span>
      <span class="purple">ugr</span>
      <span class="white">: UniversidadDeGranada</span>
      <span class="orange">,</span>
    </div>

    <div class="line indent-4">
      <span class="orange">public </span>
      <span class="purple">pk</span>
      <span class="white">: PolitechnikaKrakowska</span>
      <span class="orange">,</span>
    </div>

    <div class="line indent-4">
      <span class="orange">public </span>
      <span class="purple">ucBerkeley</span>
      <span class="white">: UniversityOfCaliforniaAtBerkeley</span>
      <span class="orange">,</span>
    </div>

    <div class="line indent-4">
      <span class="orange">public </span>
      <span class="purple">uoc</span>
      <span class="white">: UniversitatObertaDeCatalonia</span>
      <span class="white">) </span>
      <span class="white">{{ '{' }}</span>
    </div>

    <div class="line indent-2">
      <span class="purple">ugr</span>
      <span class="white">.</span>
      <span class="yellow">study</span>
      <span class="white">(</span>
      <span class="green">'BsMsArchitecture'</span>
      <span class="white">, </span>
      <span class="blue">2008</span>
      <span class="white">, </span>
      <span class="blue">2015</span>
      <span class="white">)</span>
      <span class="orange">;</span>
    </div>

    <div class="line indent-2">
      <span class="purple">pk</span>
      <span class="white">.</span>
      <span class="yellow">study</span>
      <span class="white">(</span>
      <span class="green">'BsArchitecture'</span>
      <span class="white">, </span>
      <span class="blue">2008</span>
      <span class="white">, </span>
      <span class="blue">2015</span>
      <span class="white">, </span>
      <span class="green">'Erasmus'</span>
      <span class="white">)</span>
      <span class="orange">;</span>
    </div>

    <div class="line indent-2">
      <span class="purple">ucBerkeley</span>
      <span class="white">.</span>
      <span class="yellow">study</span>
      <span class="white">(</span>
      <span class="green">'MsArchitecture'</span>
      <span class="white">, </span>
      <span class="blue">2008</span>
      <span class="white">, </span>
      <span class="blue">2015</span>
      <span class="white">, </span>
      <span class="green">'EAP'</span>
      <span class="white">)</span>
      <span class="orange">;</span>
    </div>

    <div class="line indent-2">
      <span class="purple">uoc</span>
      <span class="white">.</span>
      <span class="yellow">study</span>
      <span class="white">(</span>
      <span class="green">'MsCopmputerScience'</span>
      <span class="white">, </span>
      <span class="blue">2020</span>
      <span class="white">, </span>
      <span class="undefined">undefined</span>
      <span class="white">)</span>
      <span class="orange">;</span>
    </div>

    <div class="line indent-1">
      {{ '}' }}
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <div class="line indent-1">
      <span class="yellow">work</span>
      <span class="white">(): Experience[] {{ '{' }}</span>
    </div>

    <app-experience identifier="numbrs" position="Web Engineer" start="March 2020" end="June 2020"
                    location="Zürich, Switzerland" summary="Contributed to the evolution of the platform by
experimenting with new technologies, developing frameworks and tools, and
working on the proof of concepts in a team of highly skilled engineers, using
cutting edge technologies such as React-Redux, Cypress, or TypeScript."></app-experience>


    <div class="line empty">
      <span></span>
    </div>

    <app-experience identifier="happyValleyVentures" position="Senior Front End Developer" start="Jun 2017" end="Dec 2019"
                    location="Berlin, Germany" summary="Lead and built the entire front end software of
the enterprise with Angular and TypeScript, implementing best practices and
search engine optimizations."></app-experience>


    <div class="line empty">
      <span></span>
    </div>

    <app-experience identifier="piviiTechnologies" position="Front End Developer (Intern)" start="Mar 2017" end="May 2017" location="Berlin, GERMANY"
                    summary="Pivii is an artificial intelligence which analyzes
all the visual content you posted on Instagram in one easy-to-use web-app.
Built the entire front end of the enterprise using jQuery, D3.js. and Vue.js"></app-experience>


    <div class="line empty">
      <span></span>
    </div>

    <app-experience identifier="SPICEDAcademy" position="Full Stack Development Student" start="Jan 2016" end="Mar 2016"
                    location="Berlin, GERMANY"
                    summary="During five months in Berlin I participated as a student in a Full Stack Web Development course, focusing on languages such as JavaScript, HTML, CSS and jQuery, MV Frameworks, Node.js and SQL."></app-experience>

    <div class="line empty">
      <span></span>
    </div>

    <app-experience identifier="ToledanoEdificaciones" [position]="'Architect & Project Manager'"
                    start="Jul 2015" end="Dec 2016" location="Jaén, SPAIN" summary="Designed several residential buildings, from the
very basic project to the structures calculations and budgets. Spearheaded an
analysis of the internal documents management system, providing new solutions
for cost and time optimization."></app-experience>

    <div class="line empty">
      <span></span>
    </div>

    <div class="line indent-2">
      <span class="orange">return </span>
      <span class="white">[numbrs, happyValleyVentures, piviiTechnologies, SPICEDAcademy, ToledanoEdificaciones]</span>
      <span class="orange">;</span>
    </div>

    <div class="line indent-1">
      <span class="white">{{ '}' }}</span>
    </div>

    <div class="line indent-0">
      <span class="white">{{ '}' }}</span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

    <div class="line empty">
      <span></span>
    </div>

  </div>
</div>
